body{
  background-color: black;
  color: white;
}
#dp{
  border-radius: 50%;
  width: 400px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#name{
  text-align: center;
}
